<?xml version="1.0"?>
<vxml version="2.1">
  <% @states.each do |state| %>
  <form id="state<%= state.id %>">
    <%= state.to_vxml.html_safe %>
    <block>
      <%
        transitions = Transition.where(from_state: state)
        transitions.each do |transition|
      %>
      <if cond="<%= transition.condition.html_safe %>">
        <goto next="#state<%= transition.to_state_id %>"/>
      </if>
      <% end %>
    </block>
  </form>
  <% end %>
</vxml>

