<?xml version="1.0" encoding="UTF-8"?>

<!--
  <%= @campaign.name %>: <%= @campaign.description %>
-->
<vxml version="2.1">
  <form>
    <block>
      <prompt>Hello.  Welcome to database driven voicexml generator.</prompt>
    </block>
  </form>
</vxml>

